<form ng-submit="submit()">
    <div class="form-group">
        <label>Has payed</label>
        <select ng-model="model.Payer" ng-options="user.Name for user in users" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Has received</label>
        <select ng-model="model.Receiver" ng-options="user.Name for user in users" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Amount</label>
        <input type="number" ng-model="model.Amount" required maxlength="5" min="1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Reason</label>
        <input type="text" ng-model="model.Reason" required class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success pull-right btn-lg" value="Create" />
        <label ng-show="errorMessage != ''">{{errorMessage}}</label>
    </div>
</form>